# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS junk
.DS_Store

# Logs
*.log

# Backup files
*~
*.bak

# PyCharm/JetBrains IDE
.idea/