<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <style>
        .logo {
            width: 50px;
            height: 50px;
            color: black;
            margin-top: 0;
            margin-left: 2px;
        }

        .myimg {
            width: 50px;
            height: 50px;
            border: 2px solid black;
            border-radius: 25px;
        }
    </style>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <div class="logo">
            <a href="/">
                <img class="myimg" src="{{url_for('static',filename='img.png')}}" alt="logo">
            </a>
      </div>
<!--    <a class="navbar-brand" href="#">Health Care Center</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/developer">Developer</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <div class="container my-4 mt-4">

<h4>      Contact Us
</h4>
<p>Have questions or need assistance? We're here to help!
</p>
<h4>Customer Support
</h4>
<p>Our dedicated customer support team is available to assist you with any inquiries or issues you may have. Whether it's a technical question, feedback, or a general inquiry, we're just a message away.
</p>
<h4>Get in Touch
</h4>
<p>Feel free to reach out to us via email or through the contact form below. We value your feedback and are committed to providing you with the best possible experience.
</p>
<p><b>Email:</b> sunkaraboinap@gmail.com</p>
<p><b>Phone:</b> 9347160766</p>


<h4>Stay Connected</h4>
<p>Stay up-to-date with the latest news, updates, and health tips by following us on social media. Connect with us on Facebook or Instagram to join our growing community.
</p>
<h4>Location
</h4>
<p>Hyderabad, Kukatpally,Telangana, India</p>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>